<!DOCTYPE html>
<html layout:decorate="~{SessionLayout}">
<head>
    <title>SmartOffer - Agregar Servicio</title>
</head>
<body>
<div id="main_container" layout:fragment="content">
    <h1>SMART OFFER APP - ADMIN</h1>
    <hr/>
    <div id="form_container">
        <form th:action="@{/AddPlan/{id}(id=${serviceid})}" th:object="${plan}" method="post">
            <h2>Agregar Plan</h2>
            <p class="left">Nombre </p>
            <input type="text" th:field="*{name}" maxlength="50" size="50"/>
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <p class="left">Precio </p>
            <input type="number"  step="any" th:field="*{price}" maxlength="10" size="10"/>
            <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            <p class="left">Descripcion </p>
            <textarea maxlength="512" th:field="*{description}"></textarea>
            <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            <p>Mon<input value=false type="checkbox" th:field="*{availableMonday}" />
                Tue<input value=false type="checkbox" th:field="*{availableTuesday}" />
                Wed<input value=false type="checkbox" th:field="*{availableWednesday}" />
                Thu<input value=false type="checkbox" th:field="*{availableThursday}" />
                Fri<input value=false type="checkbox" th:field="*{availableFriday}" />
                Sat<input value=false type="checkbox" th:field="*{availableSaturday}" />
                Sun<input value=false type="checkbox" th:field="*{availableSunday}" /></p>
            <span class="error" th:if="${#fields.hasErrors('availableMonday')}" th:errors="*{availableMonday}"></span>
            <span class="error" th:if="${#fields.hasErrors('availableTuesday')}" th:errors="*{availableTuesday}"></span>
            <span class="error" th:if="${#fields.hasErrors('availableWednesday')}" th:errors="*{availableWednesday}"></span>
            <span class="error" th:if="${#fields.hasErrors('availableThursday')}" th:errors="*{availableThursday}"></span>
            <span class="error" th:if="${#fields.hasErrors('availableFriday')}" th:errors="*{availableFriday}"></span>
            <span class="error" th:if="${#fields.hasErrors('availableSaturday')}" th:errors="*{availableSaturday}"></span>
            <span class="error" th:if="${#fields.hasErrors('availableSunday')}" th:errors="*{availableSunday}"></span>
            <input type="submit" value="Agregar" />
        </form>
    </div>
    <hr/>
</div>
</body>
</html>