<!DOCTYPE html>
<html layout:decorate="~{SessionLayout}">
<head>
    <title>SmartOffer - Agregar Servicio</title>
</head>
<body>
<div id="main_container" layout:fragment="content">
    <h1>SMART OFFER APP - ADMIN</h1>
    <hr/>
    <div id="form_container">
        <form th:action="@{/AddService}" th:object="${service}" method="post">
            <h2>Agregar Servicio</h2>
                <p class="left">Nombre:</p>
                <input type="text" th:field="*{name}" />
                <p class="left">Dirección: </p>
                <input type="text" th:field="*{address}" />
                <p class="left">Telefono: </p>
                <input type="text" th:field="*{phone}" />
                <p class="left">Email: </p>
                <input type="text" th:field="*{email}" />
                <p class="left">Descripcion: </p>
                <textarea maxlength="512" th:field="*{description}"></textarea>
                <p><input type="submit" value="Agregar" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
    <hr/>
</div>
</body>
</html>