<!DOCTYPE html>
<html layout:decorate="~{SessionLayout}">
<head>
    <title>SmartOffer - Contacto</title>
</head>
<body>
<div class="container box" layout:fragment="content">
    <div class="content">
        <h2 th:text="${customer.getName()}+' '+${customer.getLastname()}"></h2>
        <p th:text="'Rut: '+${customer.getRut()}"></p>
        <p th:text="'Telefono: '+${customer.getPhone()}"></p>
        <p th:text="'Email: '+${customer.getEmail()}"></p>
        <p th:text="'Rol: '+${customer.getRole()}"></p>
        <p th:text="'Fecha de registro: '+${customer.getCreationdate()}"></p>
        <a class="button is-light is-warning" th:text="Editar" th:href="@{/EditProfile}">Editar</a>
    </div>
</div>
</body>
</html>