<!DOCTYPE html>
<html layout:decorate="~{SessionLayout}">
<head>
  <title>SmartOffer - Contacto</title>
</head>
<body>
<div class="container box" layout:fragment="content">
  <div class="content">
    <h2>My Reports</h2>
    <a class="button is-danger" th:href="@{/ReservationReport}">Reporte de reservas</a>
    <a class="button is-warning" th:href="@{/VisitsReport}">Reporte de visitas</a>
    <a class="button is-link" th:href="@{/ServiceReport}">Reporte de servicio</a>
  </div>
</div>
</body>
</html>