<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>SmartOffer - Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <a class="navbar-item" th:each="page: ${pages}" th:href="@{${page.getSecond()}}" th:if="@{${page.getSecond().equals("    @ModelAttribute
           public List<Pair<String, String>> pages(@AuthenticationPrincipal CustomerDetails customer) {
        if (customer == null) {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Iniciar Sesion", "/Login"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"));
        } else if (customer.getCustomer().getRole().equals(Roles.Admin)) {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Resumen", "/CustomerIndex"),
        Pair.of("Servicios", "/CustomerServices"),
        Pair.of("Reportes", "/CustomerReports"),
        Pair.of("Perfil", "/CustomerProfile"),
        Pair.of("Cerrar Sesion", "/Logout"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"),
        Pair.of("Admin", "/Register"));
        } else {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Resumen", "/CustomerIndex"),
        Pair.of("Servicios", "/CustomerServices"),
        Pair.of("Reportes", "/CustomerReports"),
        Pair.of("Perfil", "/CustomerProfile"),
        Pair.of("Cerrar Sesion", "/Logout"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"));
        }
        }    @ModelAttribute
        public List<Pair<String, String>> pages(@AuthenticationPrincipal CustomerDetails customer) {
        if (customer == null) {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Iniciar Sesion", "/Login"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"));
        } else if (customer.getCustomer().getRole().equals(Roles.Admin)) {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Resumen", "/CustomerIndex"),
        Pair.of("Servicios", "/CustomerServices"),
        Pair.of("Reportes", "/CustomerReports"),
        Pair.of("Perfil", "/CustomerProfile"),
        Pair.of("Cerrar Sesion", "/Logout"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"),
        Pair.of("Admin", "/Register"));
        } else {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Resumen", "/CustomerIndex"),
        Pair.of("Servicios", "/CustomerServices"),
        Pair.of("Reportes", "/CustomerReports"),
        Pair.of("Perfil", "/CustomerProfile"),
        Pair.of("Cerrar Sesion", "/Logout"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"));
        }
        }    @ModelAttribute
        public List<Pair<String, String>> pages(@AuthenticationPrincipal CustomerDetails customer) {
        if (customer == null) {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Iniciar Sesion", "/Login"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"));
        } else if (customer.getCustomer().getRole().equals(Roles.Admin)) {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Resumen", "/CustomerIndex"),
        Pair.of("Servicios", "/CustomerServices"),
        Pair.of("Reportes", "/CustomerReports"),
        Pair.of("Perfil", "/CustomerProfile"),
        Pair.of("Cerrar Sesion", "/Logout"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"),
        Pair.of("Admin", "/Register"));
        } else {
        return Arrays.asList(
        Pair.of("Inicio", "/"),
        Pair.of("Resumen", "/CustomerIndex"),
        Pair.of("Servicios", "/CustomerServices"),
        Pair.of("Reportes", "/CustomerReports"),
        Pair.of("Perfil", "/CustomerProfile"),
        Pair.of("Cerrar Sesion", "/Logout"),
        Pair.of("Sobre Nosotros", "/Aboutus"),
        Pair.of("Contacto", "/Contact"));
        }
        }")}">[[${page.getFirst()}]]</a>
    </nav>
    <hr>
    <div layout:fragment="content"></div>
</div>
</body>
</html>