<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>SmartOffer - Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <div class="nav_container">
            <nav id="index_menu">
                <ul>
                    <li th:class="${activePage == 'Index'} ? 'nav-item active' : 'nav-item'">
                        <a th:href="@{/}">Inicio</a>
                    </li>
                    <li th:class="${activePage == 'Login'} ? 'nav-item active' : 'nav-item'">
                        <a th:href="@{/Login}">Iniciar Sesion</a>
                    </li>
                    <li th:class="${activePage == 'Aboutus'} ? 'nav-item active' : 'nav-item'">
                        <a th:href="@{/Aboutus}">Sobre Nosotros</a>
                    </li>
                    <li th:class="${activePage == 'Contact'} ? 'nav-item active' : 'nav-item'">
                        <a th:href="@{/Contact}">Contacto</a>
                    </li>
                    <li th:class="${activePage == 'Register'} ? 'nav-item active' : 'nav-item'">
                        <a sec:authorize="hasAuthority('Admin')"  th:href="@{/Register}">Admin</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div layout:fragment="content"></div>
    </div>
</body>
</html>