<!DOCTYPE html>
<html layout:decorate="~{Layout}">
<head>
    <title>SmartOffer - Registro</title>
</head>
<body>
<div id="form_container" layout:fragment="content">
    <form th:action="@{/Register}" th:object="${customer}" method="post">
        <h2>
            Registration
        </h2>
        <p class="left">Nombre:</p>
        <input type="text" th:field="*{name}"/><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <p class="left">Apellido:</p>
        <input type="text" th:field="*{lastname}"/><span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
        <p class="left">Password:</p>
        <input type="password" th:field="*{pwd}"/><span th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></span>
        <p class="left">Rut:</p>
        <input type="text" th:field="*{rut}" placeholder="12345678-9"/><span th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></span>
        <p class="left">Telefono:</p>
        <input type="text" th:field="*{phone}"/><span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        <p class="left">Email:</p>
        <input type="text" th:field="*{email}" placeholder="example@example.com"/><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <p class="left">Tipo de cuenta:</p>
        <select th:field="*{role}">
            <option value="Basic" selected>Basic</option>
            <option value="Medium">Medium</option>
            <option value="Full">Full</option>
            <option value="Admin">Admin</option>
        </select>
        <input type="submit" value="Registrar"/>
    </form>
</div>
</body>
</html>