<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>SmartOffer - Reservation Report</title>
    <link rel="stylesheet" href="/css/home.css"/>
</head>
<body>
<hr/>
<div layout:fragment="content">
    <h3>Reporte del periodo: <span th:text="${reportData.startDate}"></span> -- <span
            th:text="${reportData.endDate}"></span></h3>
    <hr/>
    <div th:each="servicio : ${reportData.getServiceReports()}">
        <h3 th:text="${servicio.name}"></h3>
        <table>
            <thead>
            <tr>
                <th>Servicio</th>
                <th>Reservas</th>
                <th>Dinero Obtenido</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${servicio.name}"></td>
                <td th:text="${servicio.reservas}"></td>
                <td th:text="${servicio.plata}"></td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>Total Reservas</th>
                <th>Total Dinero Obtenido</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${reportData.getReservastotal()}"></td>
                <td th:text="${reportData.getPlatatotal()}"></td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</div>
</body>
</html>