<!DOCTYPE html>
<html layout:decorate="~{SessionLayout}">
<head>
    <title>SmartOffer - Report</title>
</head>
<body>
<div class="contianer box" layout:fragment="content">
    <div class="content">
        <h2>Reporte de Servicios</h2>
        <table class="table is-fullwidth is-striped">
            <thead>
            <th colspan="6" th:text="${reportData.serviceDetail.name}">Mis Servicios</th>
            </thead>
            <tbody>
            <tr>
                <td style="vertical-align: center">Mis Servicios:</td>
                <td style="color: deepskyblue" colspan="3">
                    <nav class="navbar">
                        <a class="navbar-item" style="color: royalblue" th:each="serv : ${reportData.allServices}" th:text="${serv.name}"
                           th:href="@{/ServiceReport/{id}(id=${serv.id})}"></a>
                    </nav>
                </td>
            </tr>
            <tr class="tableBorders">
                <td>Reservas esta semana</td>
                <td>Reservas Este Mes</td>
                <td>Reservas semana pasada</td>
                <td>Reservas mes pasado</td>
            </tr>
            <tr>
                <td th:text="${reportData.serviceDetail.thisWeekCount}"></td>
                <td th:text="${reportData.serviceDetail.thisMonthCount}"></td>
                <td th:text="${reportData.serviceDetail.lastWeekCount}"></td>
                <td th:text="${reportData.serviceDetail.lastMonthCount}"></td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <table>
            <thead>
            <tr class="tableBorders">
                <th>Plan</th>
                <th>Valor</th>
                <th>Compras esta semana</th>
                <th>Compras este mes</th>
                <th>Recaudacion esta semana</th>
                <th>Recaudacion semana pasada</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="planDetail : ${reportData.getPlanDetailList()}">
                <td th:text="${planDetail.name}">{Lista:nombre del plan}</td>
                <td th:text="${planDetail.price}">{valor del plan}</td>
                <td th:text="${planDetail.thisWeekCount}">{veces que se recibio una compra de este plan en la semana
                    actual}
                </td>
                <td th:text="${planDetail.thisMonthCount}">{veces que se recibio compra de este plan en el mes actual}
                </td>
                <td th:text="${planDetail.thisWeekSum}">{recaudacion de la semana actual}</td>
                <td th:text="${planDetail.lastWeekSum}">{recaudacion de la semana pasada}</td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <a class="button is-primary" th:href="@{/ServiceReportPdf/{id}(id=${service.id})}">Generar PDF</a>
    </div>
</div>
</body>
</html>