<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
<div class="container box" layout:fragment="content">
    <div class="content">
        <h2 style="text-align: center">Reporte de Servicios</h2>
        <h3 th:text="'Servicio: '+${reportData.serviceDetail.name}"></h3>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr class="tableBorders">
                <td>Reservas esta semana</td>
                <td>Reservas Este Mes</td>
                <td>Reservas semana pasada</td>
                <td>Reservas mes pasado</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${reportData.serviceDetail.thisWeekCount}"></td>
                <td th:text="${reportData.serviceDetail.thisMonthCount}"></td>
                <td th:text="${reportData.serviceDetail.lastWeekCount}"></td>
                <td th:text="${reportData.serviceDetail.lastMonthCount}"></td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <table class="table is-striped is-fullwidth" style="text-align: center" th:each="planDetail : ${reportData.getPlanDetailList()}">
            <thead>
                <th colspan="2"><h3 th:text="'Plan: '+${planDetail.name}"></h3></th>
            </thead>
            <tbody>
            <tr>
                <td colspan="2"><p th:text="'Valor: $'+${planDetail.price}"></p></td>
            </tr>
            <tr>
                <th colspan="2"><h4>Compras</h4></th>
            </tr>
            <tr>
                <td><p th:text="'Esta semana: '+${planDetail.thisWeekCount}"></p></td>
                <td><p th:text="'Este Mes: '+${planDetail.thisMonthCount}"></p></td>
            </tr>
            <tr>
                <td colspan="2"><h4>Recaudacion</h4></td>
            </tr>
            <tr>
                <td><p th:text="'Esta semana: $'+${planDetail.thisWeekSum}"></p></td>
                <td><p th:text="'Semana pasada: $'+${planDetail.lastWeekSum}"></p></td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</div>
</body>
</html>