<!DOCTYPE html>
<html layout:decorate="~{SessionLayout}">
<head>
    <title>SmartOffer - Report</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Reporte de Servicios</h2>
    <table>
        <thead>
        <tr>
            <th colspan="6" th:text="${reportData.serviceDetail.name}">Mis Servicios </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mis Servicios:</td>
            <td style="color: deepskyblue">
                <ul>
                    <li th:each="serv : ${reportData.allServices}"><a th:text="${serv.name}" th:href="@{/ServiceReport/{id}(id=${serv.id})}"></a></li>
                </ul>
            </td>
        </tr>
        <tr class="tableBorders">
            <td>Reservas esta semana</td>
            <td>Reservas Este Mes</td>
            <td>Reservas semana pasada</td>
            <td>Reservas mes pasado</td>
        </tr>
        <tr>
            <td th:text="${reportData.serviceDetail.thisWeekCount}"></td>
            <td th:text="${reportData.serviceDetail.thisMonthCount}"></td>
            <td th:text="${reportData.serviceDetail.lastWeekCount}"></td>
            <td th:text="${reportData.serviceDetail.lastMonthCount}"></td>
        </tr>
        </tbody>
    </table>
    <hr />
    <table>
        <thead>
        <tr class="tableBorders">
            <th>Plan</th>
            <th>Valor</th>
            <th>Compras esta semana</th>
            <th>Compras este mes</th>
            <th>Recaudacion esta semana</th>
            <th>Recaudacion semana pasada</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="planDetail : ${reportData.getPlanDetailList()}">
            <td th:text="${planDetail.name}">{Lista:nombre del plan}</td>
            <td th:text="${planDetail.price}">{valor del plan}</td>
            <td th:text="${planDetail.thisWeekCount}">{veces que se recibio una compra de este plan en la semana actual}</td>
            <td th:text="${planDetail.thisMonthCount}">{veces que se recibio compra de este plan en el mes actual}</td>
            <td th:text="${planDetail.thisWeekSum}">{recaudacion de la semana actual}</td>
            <td th:text="${planDetail.lastWeekSum}">{recaudacion de la semana pasada}</td>
        </tr>
        </tbody>
    </table>
    <hr />

</div>
</body>
</html>