<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartOffer - Panel de Control</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div id="main_container">
    <label class="index_title"><h1> Bienvenido a SmartOffer </h1></label>
    <div class="nav_container">
        <nav id="index_menu">
            <ul>
                <li th:class="${activePage == 'CustomerIndex'} ? 'nav-item active' : 'nav-item'">
                    <a th:href="@{/CustomerIndex}">Resumen</a>
                </li>
                <li th:class="${activePage == 'CustomerServices'} ? 'nav-item active' : 'nav-item'">
                    <a th:href="@{/CustomerServices}">Mis Servicios</a>
                </li>
                <li th:class="${activePage == 'CustomerReports'} ? 'nav-item active' : 'nav-item'">
                    <a th:href="@{/CustomerReports}">Mis Reportes</a>
                </li>
                <li th:class="${activePage == 'CustomerProfile'} ? 'nav-item active' : 'nav-item'">
                    <a th:href="@{/CustomerProfile}" th:text="${customer.getName()}+' '+${customer.getLastname()}"></a>
                </li>
                <li th:class="${activePage == 'Logout'} ? 'nav-item active' : 'nav-item'">
                    <a th:href="@{/logout}">Cerrar Sesion</a>
                </li>
            </ul>
        </nav>
    </div>
    <div layout:fragment="content"></div>
</div>
</body>
</html>