<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>SmartOffer - Panel de Control</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <a class="navbar-item" th:href="@{/CustomerIndex}">Resumen</a>
        <a class="navbar-item" th:href="@{/CustomerServices}">Mis Servicios</a>
        <a class="navbar-item" th:href="@{/CustomerReports}">Mis Reportes</a>
        <a class="navbar-item" th:href="@{/CustomerProfile}"
           th:text="${customer.getName()}+' '+${customer.getLastname()}"></a>
        <a class="navbar-item" th:href="@{/Logout}">Cerrar Sesion</a>
        <a class="navbar-item" th:if="${customer.role=='ROLE_Admin'}" th:href="@{/Register}">Ingreso Admin</a>
    </nav>
    <hr/>
    <div layout:fragment="content"></div>
</div>
</body>
</html>