* {
    font-family: "Roboto Light";
    color: white;
}


body {
    height: 100%;
    background-color: #2B2B2B;
}

#main_container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #1B1F23;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
}

ul#index_menu li {
    display: inline;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
    color: gold;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a:visited {
    color: orange;
}

a {
    color: orange;
    text-decoration: none;
}

td {
    text-align: center;
}

form {
    width: 50%;
    max-width: 50%;
    height: 30%;
    max-height: 30%;
    background-color: #2B2B2B;
}

form p {
    margin: 10px 0 10px 0;
}

form p, form input, select {
    height: 24px;
    font-size: 20px;
}

.paladerecha {
    margin-right: 5%;
}

form input[type=text], form input[type=number], select, input[type=password] {
    width: 95%;
}

input[type=submit] {
    margin-top: 1.5em;
    width: 100%;
    height: 2em;
}

input[type=submit]:hover {
    font-weight: bolder;
    color: black;
    background-color: white;
}

form input[type=text], form input[type=password], form input[type=number], textarea, select {
    background-color: #1B1F23;
    border: 1px solid orange;
    border-radius: 5px;
}

textarea {
    font-size: 20px;
    resize: none;
    width: 95%;
    height: 7.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

form input[type=submit] {
    background-color: #FFA500FF;
    border: 1px solid orange;
    border-radius: 5px;
}

#form_container {
    display: flex;
    justify-content: center;
}

#form_container form {
    padding: 1em;
    text-align: center;
    border: 1px solid orange;
    border-radius: 5px;
}

.centrado {
    text-align: center;
    margin: 0;
}

.left {
    text-align: left;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

th {
    border: 1px solid orange;
}

#login-rut {
    width: 35%;
}

#session_menu {
    border-top: solid 1px;
    border-color: orange;
}

.error {
    color: 	#F28773;
}






